html, body {
  height: 100%;
  font-family: $font;
  color: $color-white;
  line-height: 1em;
}

h1, h2, h3, span {
  margin: 0;
  padding: 0;
  letter-spacing: $letter-spacing;
}

span {
  color: $color-grey;
}

.hidden {
  display: none !important;
}

.alignment {
  @media (max-width: $max-xl) {
    display: flex;
    justify-content: center
  }
}

.column {
  @media (min-width: $lg) {
    margin-right: -2.3%;
    margin-left: -2.3%;
  }
  @media (min-width: 1121px) {
    margin-right: -87px;
    margin-left: -87px;
  }
  @media (max-width: $max-lg) {
    flex-direction: column;
  }
}

.logo, .priority-person, .person > .align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.priority-person, .person {
  .ava {
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    img {
      border-radius: 50%;
    }
  }
}

.st {
  cursor: pointer;

  .st0 {
    stroke: #808080;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: #fff;
  }

  &:hover .st1 {
    fill: #808080 !important;
  }
}

.main {
  min-height: 100%;
  background: $bg-image;
  background-position: top center;

  .section-one {
    background: $bg-image-circle;
    background-position: bottom center;
    position: relative;
    @media (min-width: $xs) {
      padding: 40px 0 44px;
      background-size: 1000px;
      margin-bottom: 32px;
    }
    @media (min-width: $md) {
      padding: 65px 0 48px;
      background-size: 1500px;
      margin-bottom: 86px;
    }
    @media (min-width: $lg) {
      padding: 140px 0 70px;
      background-size: 1750px;
      margin-bottom: 117px;
    }

    .logo {
      img {
        cursor: pointer;
        @media (min-width: $xs) {
          width: 67px;
          margin-bottom: 55px;
        }
        @media (min-width: $md) {
          width: 106px;
          margin-bottom: 117px;
        }
        @media (min-width: $lg) {
          width: 114px;
          margin-bottom: 95px;
        }
      }
    }

    .transition {
      position: relative;

      span {
        position: absolute;
        cursor: pointer;

        @media (min-width: $xs) {
          font-size: $mobile-paragraf_2;
          top: 11px;
        }
        @media (min-width: $md) {
          font-size: $desktop-paragraf_2;
          top: 22px;
        }
        &:hover {
          color: $color-white;
        }
      }
      #back {
        @media (min-width: $xs) {
          left: 30px;
        }
        @media (min-width: $md) {
          left: 20px;
        }
        @media (min-width: $lg) {
          left: 15px;
        }
      }

      #onwards {
        @media (min-width: $xs) {
          right: 30px;
        }
        @media (min-width: $md) {
          right: 20px;
        }
        @media (min-width: $lg) {
          right: 15px;
        }
      }
    }

    .priority-person {
      flex-direction: column;

      > div {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      img {
        @media (min-width: $xs) {
          width: 124px;
        }
        @media (min-width: $md) {
          width: 217px;
        }
      }
      h1 {
        @media (min-width: $xs) {
          font-size: $mobile-header_1;
          margin: 22px 0 8px;
        }
        @media (min-width: $md) {
          font-size: $desktop-header_1;
          margin: 24px 0 10px;
        }
        @media (min-width: $lg) {
          margin: 18px 0 10px;
        }
      }
      span {

        @media (min-width: $xs) {
          font-size: $mobile-paragraf_1;
        }
        @media (min-width: $md) {
          font-size: $desktop-paragraf_1;
        }
      }
    }
    .navigation {
      #prev, #next {
        position: absolute;
        display: none;

        @media (min-width: $lg) {
          display: block;
          top: 214px;
          width: 65px;
        }
        &:hover {
          color: $color-grey;
        }
      }
      #prev {
        @media (min-width: $lg) {
          left: 15px;
        }
      }
      #next {
        transform: rotate(180deg);

        @media (min-width: $lg) {
          right: 15px;
        }
      }
    }
  }

  .section-two {
    .person {
      @media (min-width: $xs) {
        min-width: 258px;
        margin-bottom: 33px;
      }
      @media (min-width: $md) {
        min-width: 340px;
        margin-bottom: 42px;
      }
      @media (min-width: $lg) {
        min-width: 480px;
        margin-bottom: 78px;
        padding: 0 2.3%;
      }
      @media (min-width: 1121px) {
        padding: 0 87px;
      }

      .align {
        justify-content: flex-start;
      }

      .indent {

        .number {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #ff0000;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;

          @media (min-width: $md) {
            width: 35px;
            height: 35px;
          }
          @media (max-width: $max-lg) {
            top: -4px;
            left: -7px;
          }

          span {
            font-size: 15px;
            letter-spacing: normal;
            color: #fff;
          }
        }
      }

      .ava {
        cursor: pointer;
        @media (min-width: $xs) {
          margin-right: 25px;
        }
        @media (min-width: $md) {
          margin-right: 33px;
        }
        @media (min-width: $lg) {
          margin-right: 46px;
        }

        img {
          @media (min-width: $xs) {
            width: 60px;
          }
          @media (min-width: $md) {
            width: 80px;
          }
          @media (min-width: $lg) {
            width: 110px;
          }
        }
      }

      .name {
        white-space: nowrap;
        cursor: pointer;
      }

      h2 {
        margin: 0;

        @media (min-width: $xs) {
          font-size: $mobile-header_2;
          margin-bottom: 2px;
        }
        @media (min-width: $md) {
          font-size: $tablet-header_2;
          margin-bottom: 8px;
        }
        @media (min-width: $lg) {
          font-size: $desktop-header_2;
          margin-bottom: 10px;
        }
      }
      span {

        @media (min-width: $xs) {
          font-size: $mobile-paragraf_2;
        }
        @media (min-width: $md) {
          font-size: $tablet-paragraf_2;
        }
        @media (min-width: $lg) {
          font-size: $desktop-paragraf_2;
        }
      }

      &:hover {
        .img-hover {
          background: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
        }
        h2 {
          color: $color-red;
        }
        span {
          color: $color-white;
        }
      }
    }
  }
}