@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,cyrillic-ext,latin-ext");
*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 970px; } }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col-one, .col-two {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%; }

.col-one {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

@media (min-width: 992px) {
  .col-lg-two {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; } }

html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  line-height: 1em; }

h1, h2, h3, span {
  margin: 0;
  padding: 0;
  letter-spacing: 0.088em; }

span {
  color: #808080; }

.hidden {
  display: none !important; }

@media (max-width: 1200px) {
  .alignment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (min-width: 992px) {
  .column {
    margin-right: -87px;
    margin-left: -87px; } }
@media (max-width: 992px) {
  .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

.logo, .priority-person, .person > .cursor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.priority-person .ava, .person .ava {
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative; }
  .priority-person .ava img, .person .ava img {
    -webkit-border-radius: 50%;
            border-radius: 50%; }

.st {
  cursor: pointer; }
  .st .st0 {
    stroke: #808080;
    stroke-miterlimit: 10; }
  .st .st1 {
    fill: #fff; }
  .st:hover .st1 {
    fill: #808080 !important; }

.main {
  min-height: 100%;
  background: url(../assets/background/stars.png) repeat, url(../assets/background/bg.png) repeat;
  background-position: top center; }
  .main .section-one {
    background: url(../assets/svg/circle.svg) no-repeat;
    background-position: bottom center;
    position: relative; }
    @media (min-width: 0) {
      .main .section-one {
        padding: 40px 0 44px;
        -webkit-background-size: 1000px 1000px;
                background-size: 1000px;
        margin-bottom: 33px; } }
    @media (min-width: 768px) {
      .main .section-one {
        padding: 65px 0 48px;
        -webkit-background-size: 1500px 1500px;
                background-size: 1500px;
        margin-bottom: 81px; } }
    @media (min-width: 992px) {
      .main .section-one {
        padding: 140px 0 70px;
        -webkit-background-size: 1750px 1750px;
                background-size: 1750px;
        margin-bottom: 117px; } }
    .main .section-one .logo img {
      cursor: pointer; }
      @media (min-width: 0) {
        .main .section-one .logo img {
          width: 67px;
          margin-bottom: 55px; } }
      @media (min-width: 768px) {
        .main .section-one .logo img {
          width: 106px;
          margin-bottom: 117px; } }
      @media (min-width: 992px) {
        .main .section-one .logo img {
          width: 114px;
          margin-bottom: 95px; } }
    .main .section-one .transition {
      position: relative; }
      .main .section-one .transition span {
        position: absolute;
        cursor: pointer; }
        @media (min-width: 0) {
          .main .section-one .transition span {
            font-size: 11px;
            top: 11px; } }
        @media (min-width: 768px) {
          .main .section-one .transition span {
            font-size: 18px;
            top: 22px; } }
        .main .section-one .transition span:hover {
          color: #FFFFFF; }
      @media (min-width: 0) {
        .main .section-one .transition #back {
          left: 30px; } }
      @media (min-width: 768px) {
        .main .section-one .transition #back {
          left: 20px; } }
      @media (min-width: 992px) {
        .main .section-one .transition #back {
          left: 15px; } }
      @media (min-width: 0) {
        .main .section-one .transition #onwards {
          right: 30px; } }
      @media (min-width: 768px) {
        .main .section-one .transition #onwards {
          right: 20px; } }
      @media (min-width: 992px) {
        .main .section-one .transition #onwards {
          right: 15px; } }
    .main .section-one .priority-person {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .main .section-one .priority-person > div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
      @media (min-width: 0) {
        .main .section-one .priority-person img {
          width: 124px; } }
      @media (min-width: 768px) {
        .main .section-one .priority-person img {
          width: 217px; } }
      @media (min-width: 0) {
        .main .section-one .priority-person h1 {
          font-size: 25px;
          margin: 22px 0 8px; } }
      @media (min-width: 768px) {
        .main .section-one .priority-person h1 {
          font-size: 31px;
          margin: 24px 0 10px; } }
      @media (min-width: 992px) {
        .main .section-one .priority-person h1 {
          margin: 18px 0 10px; } }
      @media (min-width: 0) {
        .main .section-one .priority-person span {
          font-size: 15px; } }
      @media (min-width: 768px) {
        .main .section-one .priority-person span {
          font-size: 18px; } }
    .main .section-one .navigation #prev, .main .section-one .navigation #next {
      position: absolute;
      display: none; }
      @media (min-width: 992px) {
        .main .section-one .navigation #prev, .main .section-one .navigation #next {
          display: block;
          top: 214px;
          width: 65px; } }
      .main .section-one .navigation #prev:hover, .main .section-one .navigation #next:hover {
        color: #808080; }
    @media (min-width: 992px) {
      .main .section-one .navigation #prev {
        left: 15px; } }
    .main .section-one .navigation #next {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
      @media (min-width: 992px) {
        .main .section-one .navigation #next {
          right: 15px; } }
  @media (min-width: 0) {
    .main .section-two .person {
      margin-bottom: 33px; } }
  @media (min-width: 768px) {
    .main .section-two .person {
      margin-bottom: 42px; } }
  @media (min-width: 992px) {
    .main .section-two .person {
      margin-bottom: 78px;
      padding: 0 87px; } }
  .main .section-two .person .cursor {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    cursor: pointer; }
  .main .section-two .person .indent .number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ff0000;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
    @media (min-width: 992px) {
      .main .section-two .person .indent .number {
        left: 87px; } }
    .main .section-two .person .indent .number span {
      font-size: 15px;
      letter-spacing: normal;
      color: #fff; }
  @media (min-width: 0) {
    .main .section-two .person .ava {
      margin-right: 25px; } }
  @media (min-width: 768px) {
    .main .section-two .person .ava {
      margin-right: 33px; } }
  @media (min-width: 992px) {
    .main .section-two .person .ava {
      margin-right: 46px; } }
  @media (min-width: 0) {
    .main .section-two .person .ava img {
      width: 60px; } }
  @media (min-width: 768px) {
    .main .section-two .person .ava img {
      width: 80px; } }
  @media (min-width: 992px) {
    .main .section-two .person .ava img {
      width: 110px; } }
  .main .section-two .person .name {
    white-space: nowrap; }
  .main .section-two .person h2 {
    margin: 0; }
    @media (min-width: 0) {
      .main .section-two .person h2 {
        font-size: 18px;
        margin-bottom: 2px; } }
    @media (min-width: 768px) {
      .main .section-two .person h2 {
        font-size: 25px;
        margin-bottom: 8px; } }
    @media (min-width: 992px) {
      .main .section-two .person h2 {
        font-size: 31px;
        margin-bottom: 10px; } }
  @media (min-width: 0) {
    .main .section-two .person span {
      font-size: 11px; } }
  @media (min-width: 768px) {
    .main .section-two .person span {
      font-size: 15px; } }
  @media (min-width: 992px) {
    .main .section-two .person span {
      font-size: 18px; } }
  .main .section-two .person:hover .img-hover {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .main .section-two .person:hover h2 {
    color: #ff0000; }
  .main .section-two .person:hover span {
    color: #FFFFFF; }
